<!DOCTYPE html>
<html>
    <head>
        <style>

        </style>
    </head>
    <body align="center">
        <img src="../static/white shirt.jpg" width="250" height="300" style="border:1px solid yellow; margin:20px">
        <h3>RS 499</h3>
        <h3>Cotton White Shirt</h3>
        <p>
            white plane shirt on best prize RS 499, which is completed made by cotton 
        </p>
        <p>
            you can use it for official purpose and function use as well.
        </p>
        <hr>
        <h1>Order Place</h1>
    </body>
</html>