<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>

    </title>
    <style>
         header{
                background-image: linear-gradient(blue,blue);
                border: 1px solid red;
                height: 80px;
         }
        .box {
            border:2px solid black;
            background-image: linear-gradient(pink,pink,blue);
            text-align: center;
            height:70px;

         }
        .box1:hover {
            transform: scale(0.9, 0.9);
            
        
        }
        .box3 {
            background-image: linear-gradient(pink,skyblue,pink);
        }
        .id {
            height:250px;
        }
        .r:hover {
            transform: scale(1.1, 1.1);
        }
       
        
        button:hover {
                background-color: skyblue;
            }
    </style>
</head>
<body>
    <header class="container-fluid">
        <br>
        <div class="container-fluid">
            <div class="row">
               <div class="col">
                    <a href="{{url_for('home')}}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">home</button></a>
                    <a href="{{url_for('mens')}}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">men's</button></a>
                    <a href="{{url_for('womens')}}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">women's</button></a>
                    <a href="{{url_for('kids')}}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">kid's</button></a>
                    <a href="{{url_for('fashion')}}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">fashion</button></a>
                </div>
    
                <div class="col-md-4">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                    &nbsp;&nbsp;&nbsp;
                    <div class="col">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    </div>
    <div class="container-fluid box3">
        <br>
        <figure class="figure">
            <a href="{{url_for('skyblue_saree')}}"><img src="../static/saree3.jpg" class="figure-img img-fluid rounded box1 id" alt="..."></a>
            <a href="{{url_for('skyblue_saree')}}"><figcaption class="figure-caption r">Blue Red Saree Rs 799.</figcaption></a>
        </figure>
        <figure class="figure">
            <img src="../static/saree4.jpg" class="figure-img img-fluid rounded box1 id" width="200" alt="...">
            <figcaption class="figure-caption r">Red Green Saree Rs 699/.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree5.jpg" class="figure-img img-fluid rounded box1 id" width="200" height="100" alt="...">
            <figcaption class="figure-caption r">Brown Gold Saree Rs 999.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree13.jpg" class="figure-img img-fluid rounded box1 id" alt="...">
            <figcaption class="figure-caption r">Green Red Saree Rs 1199/only.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree14.jpg" class="figure-img img-fluid rounded box1 id" alt="...">
            <figcaption class="figure-caption r">Red Saree Rs 699.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree16.jpg" class="figure-img img-fluid rounded box1 id " alt="...">
            <figcaption class="figure-caption r">More Pankhi Saree Rs 1299.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree16.jpg" class="figure-img img-fluid rounded box1 id" alt="...">
            <figcaption class="figure-caption r">Red Saree Rs 1299.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree5.jpg" class="figure-img img-fluid rounded box1 id" width="200" alt="...">
            <figcaption class="figure-caption r">Blue Red Saree Rs 1899.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree4.jpg" class="figure-img img-fluid rounded box1 id"  width="161" height="100"  alt="...">
            <figcaption class="figure-caption r">Bl Red Saree Rs &99.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree5.jpg" class="figure-img img-fluid rounded box1 id"  width="200" height="100" alt="...">
            <figcaption class="figure-caption r">Blue Red Saree Rs &99.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree3.jpg" class="figure-img img-fluid rounded box1 id"  width="200" height="100" alt="...">
            <figcaption class="figure-caption r">Blue Red Saree Rs &99.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree3.jpg" class="figure-img img-fluid rounded box1 id" width="200" height="100" alt="...">
            <figcaption class="figure-caption r">Blue Red Saree Rs &99.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree3.jpg" class="figure-img img-fluid rounded box1 id" alt="...">
            <figcaption class="figure-caption r">Blue Red Saree Rs &99.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree3.jpg" class="figure-img img-fluid rounded box1 id" alt="...">
            <figcaption class="figure-caption r">Blue Red Saree Rs &99.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree3.jpg" class="figure-img img-fluid rounded box1 id" alt="...">
            <figcaption class="figure-caption r">Blue Red Saree Rs &99.</figcaption>
        </figure>
        <figure class="figure">
            <img src="../static/saree3.jpg" class="figure-img img-fluid rounded box1 id" alt="...">
            <figcaption class="figure-caption r">Blue Red Saree Rs &99.</figcaption>
        </figure>
          
          
          
    </div>
    
    
</body>
</html>